*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Inter,sans-serif;

}

body{

background:#05111d;

}

#root{

background:#05111d;

min-height:100vh;

padding:30px;

}

.dashboard{

max-width:1700px;

margin:auto;

}

.mainLayout{

display:grid;

grid-template-columns:320px 1fr 460px;

gap:20px;

align-items:start;

}

.middle{

display:flex;

flex-direction:column;

gap:20px;

}

.right{

display:flex;

flex-direction:column;

gap:20px;

}